<div class="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd; margin:0;">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">
        <center>

          <div class="row">
            <div class="input-field col s8">
              <input id="forgot-password-email" type="email" class="validate active">
              <label class="active" for="Email">Enter your email</label>
            </div>
            <button class="btn transparent black-text no-uppercase" id="forgot-password-email-submit" style="margin-top: 25px;"> Submit</button>
          </div>

          <div id="forgot-password-form" class="hide">
            <div class="row">
              <div class="input-field col s8">
                <input id="forgot-password-otp" type="text" class="validate active">
                <label class="active" for="OTP">Enter the OTP sent to the above email address</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8">
                <input id="forgot-password-password" type="password" class="validate active">
                <label class="active" for="Password">New Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8">
                <input id="forgot-password-confirm-password" type="password" class="validate active">
                <label class="active" for="confirm_password">Confirm Password</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s8">
                <button class="btn transparent no-uppercase black-text right-align" id="reset-password-button"> Reset Password </button>
              </div>
            </div>
          </div>
          <br>

        </center>
      </div>
    </div>
  </div>
</div>
