<!DOCTYPE html>
<html>
  <style type="text/css">
    p{
      font-size: 16px;
    }
  </style>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hey <%=@user.name%>, </p>
    <p> Your OTP for password reset is <%=@otp%>.</p>
    <br>
    <p>Best Regards,</5>
    <p><b>CrowdGoal Team.</b></p>
  </body>
</html>