<ul class="collection">


  <% @activity.each do |activity| %>



    <li class="collection-item avatar">

      <img src="https://s3.ca-central-1.amazonaws.com/crowdgoal/static/icons/<%= activity['icon'] %>.ico" class="circle sportsicon">

    <p>
      <% if activity['user_id'] == @user.id %>
        Created an event:
      <% else %>
        Joined an event:
      <% end %>

      <a href="/events/<%= activity['id'] %>"><%= activity['title'] %></a>
    </p>
    <p>
      <font class="messagedate">
        on <%= activity['jointime'].to_date.strftime("%A, %B %-d, %Y") %>
      </font>
    </p>

     </li>

  <% end %>


</ul>