<ul class="collection">


  <% @following.each do |p| %>



    <li class="collection-item avatar">

      <% if p.image %>
        <img src="images/yuna.jpg" alt="" class="circle">
      <% else %>
        <i class="material-icons circle">face</i>
      <%end %>

    <p>
      <a href="/users/<%= p.id %>"><%= p.name %></a>
    </p>
    <p>
      <font class="messagedate">
        Following since <a href="/users/"></a> <%= p.created_at.strftime("%B %-d, %Y") %>
      </font>
    </p>

     </li>

  <% end %>


</ul>