<div class="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd; margin:0;">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input value="Alvin" id="first_name2" type="text" class="validate">
              <label class="active" for="first_name2">First Name</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
