<div class="col s12 m7">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">

        <table
          <tr>

            <td width="29%" valign="top" style="padding-right: 15px; vertical-align: top">


              <% if @user.uid %>
                <%= link_to image_tag(@user.image, class: 'circle profilepic') %>
              <% else %>
                <%= link_to image_tag(@user.picture.url(:profile), class: 'circle profilepic') %>
              <% end %>



            </td>

            <td valign="top">

              <div id="profileholder">

               <%= render 'profile' %>

              </div>

              <br>

            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>

<%= render 'tabs' %>