
<div style="width: 71%">


      <div class="row">
      <div class="input-field col s3">

<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/000/1a3/129/3a73f4c.jpg" class="circle profilepic">

</div>
        <div class="input-field col s9">



 <div class="card horizontal" style="border: 1px solid #e3f2fd; margin-right: 0; padding-right: 0">
 <div class="card-stacked">
<div class="card-content small" style="padding-top: 8px; padding-bottom: 0">

<p id="event-title" style="font-size: 160%"><%= @user.name %></p>

<p style="font-size: 80%">
Joined <%= @user.created_at.strftime("%B %-d, %Y") %>
</p>
<p style="font-size: 92%">
<br>
Affogato four loko meggings kombucha trust fund. Farm-to-table asymmetrical seitan ethical jean shorts tousled woke mumblecore, +1 8-bit health goth. Prism brooklyn yuccie VHS avocado kombucha.
</p>

<table>
<tr>
<td width="50%">
<p>
<span class="new badge blue darken-1" data-badge-caption="games organized">4</span>
<span class="new badge green" data-badge-caption="games played">3</span>
</p>
</td>
<td>

<a class="waves-effect waves-light btn white blue-text text-darken-1 followbutton"><i class="material-icons left">notifications_none</i>Follow Organized Games</a>
</td>
</tr>
</table>
<br>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="col s12 m7" style="width: 70%">
  <div class="card horizontal" style="border: 1px solid #e3f2fd">
    <div class="card-stacked">
      <div class="card-content small" style="padding-top: 8px; padding-bottom: 0;">

 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3" class="active"><a href="#location">Activity</a></li>

        <li class="tab col s3"><a href="#players">Reviews (25)</a></li>
        <li class="tab col s3"><a href="#details">Followers (20)</a></li>
        <li class="tab col s3"><a href="#players">Following (20)</a></li>




      </ul>
    </div>

    <div id="location" class="col s12">
      Test
    </div>

    <div id="details" class="col s12">
      <ul class="collection">
        <li class="collection-item">
          Test
        </li>
      </ul>
    </div>

    <div id="players" class="col s12">
      Test
    </div>

    <div id="messages" class="col s12">
      Test
    </div>

    <div id="photos" class="col s12">Test 4</div>

    <div id="reviews" class="col s12">
      Test
    </div>

  </div>

</div>
</div>
  </div>
  </div>




  </div>