<ul class="collection">
  <li class="collection-item">
    <p style="color: #888888">
      This event is happening at:
    </p>
    <p style="font-size: 90%">
      <%= @event.address %>
    </p>
    <br>

    <div id="map"></div>
    <div id="pano"></div>

  </li>
</ul>