<ul class="collection">

  <% @players.each do |player| %>

    <% @playerinfo = User.find(player.user_id) %>

    <li class="collection-item avatar">

     <%= image_tag @playerinfo.picture.url(:thumb), class: 'circle thumbprofile' %>

      <span class="title" style="float: left"><a href="/users/<%= @playerinfo.id %>"><%= @playerinfo.name %></a></span>

    <% if @playerinfo.id == @host.id %>
      <span class="new badge green" data-badge-caption="organizer" style="margin-left: 10px"></span>
    <% end %>

    </li>

  <% end %>


</ul>