<div class="navbar-fixed">
 <nav>
    <div class="nav-wrapper white">
      <a href="#!" class="brand-logo black-text">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#modal1" class="black-text">Login</a></li>
        <li><a href="#modal1" class="black-text">Register</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html" class="black-text">Login</a></li>
        <li><a href="badges.html" class="black-text">Register</a></li>

      </ul>
    </div>
  </nav>
</div>








<div class="col s12 m7" style="width: 60%">
    <div class="card horizontal" style="border: 1px solid #e3f2fd">

      <div class="card-stacked">



        <div class="card-content small" style="padding-top: 8px; padding-bottom: 0">


        <h6><b>George needs 3 more people for soccer:</b></h6>
        <h5>5-on-5 soccer game</h5>
        <i class="material-icons" style="font-size: 16px; color: #888888">date_range</i>
        Thursday, April 27&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
       <i class="material-icons" style="font-size: 18px; color: #888888;">access_time</i>
       3:00 - 5:00pm&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
       <i class="material-icons" style="font-size: 16px; color: #888888">location_on</i> <a href="#modal1">46 Spadina Ave (<i class="material-icons tiny">filter_none</i>)</a>





<ul class="collapsible" data-collapsible="accordion">

  <li>
    <div class="collapsible-header"><i class="material-icons">insert_comment</i>View details...</div>
    <div class="collapsible-body">

        Jianbing brooklyn tumblr, distillery flannel heirloom 90's live-edge irony. Flexitarian normcore franzen quinoa, fixie portland listicle succulents 3 wolf moon cred gentrify venmo truffaut. Meditation cornhole banh mi, everyday carry wayfarers tofu literally twee schlitz. XOXO authentic enamel pin tattooed yuccie. Chillwave mlkshk irony man braid fixie literally. Four loko kickstarter pug tilde marfa, tumblr raclette roof party deep v tofu man bun freegan tattooed. Pok pok edison bulb yr listicle readymade.
<br><br>
Air plant salvia activated charcoal, occupy PBR&B master cleanse neutra mlkshk kickstarter copper mug heirloom biodiesel etsy vexillologist. Stumptown pour-over bushwick, pug copper mug skateboard shoreditch ugh listicle organic pickled coloring book. Mixtape squid church-key dreamcatcher. Green juice umami iPhone migas. Church-key knausgaard aesthetic, plaid farm-to-table irony occupy actually kale chips leggings unicorn cred glossier. Cold-pressed kinfolk brooklyn health goth gochujang pabst. Butcher leggings narwhal fixie migas.
<br><br>
Actually schlitz echo park, disrupt chillwave raw denim helvetica pok pok. Thundercats single-origin coffee enamel pin migas, flannel gentrify viral man bun tacos listicle health goth. Vape synth raw denim, vaporware pug direct trade paleo keytar live-edge cardigan asymmetrical cred deep v. Photo booth VHS authentic thundercats schlitz, direct trade narwhal. Humblebrag authentic activated charcoal PBR&B. XOXO leggings pok pok, subway tile PBR&B mixtape air plant venmo put a bird on it post-ironic. Irony iPhone post-ironic, bitters chicharrones stumptown raclette typewriter coloring book wayfarers kale chips.


    </div>
  </li>
</ul>




        </div>
        <div class="card-action" style="padding-top: 0; padding-bottom: 0">

        <table width="100%">
        <tr>
        <td>
        <font style="font-size: 90%"><b>7</b> out of <b>10</b> required players have joined
         <font style="color: #aaaaaa"> | Expires in 6 days</font></font>
        <div class="progress grey lighten-4" style="height: 16px; border: 1px solid #888888; margin-bottom: 6px">
      <div class="determinate blue darken-1" style="width: 60%"></div>
  </div>

  </td>
  <td align="right">

<div style="float: right">

          <a class="waves-effect waves-light btn green"><i class="material-icons left">person_add</i>join game</a>
    </div>

        <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">



    <div style="float:right">
      <i class="material-icons">close</i></a></li>
    </div>
      <h4>Create Event</h4>





    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


          </td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>