<a class='dropdown-button btn no-uppercase green white-text' href='#' data-activates='sports' style = " width: 200px;"><i class="fa fa-filter" aria-hidden="true"></i> &nbsp; &nbsp;Filter Events </a>

<ul id='sports' class='dropdown-content'>
  <li> <%= link_to 'All', events_path %> </li>
  <% Sport.all.order(:name).each do |sport| %>
    <li> <%= link_to sport.name, filter_path(sport) %> </li>
  <% end %>
</ul>
<div>
  <% if @events.length > 0%>
    <%= render @events %>
  <% else %>
    <br><br>
    <center><h5 class="black-text"> No events to display! </h5></center>
  <% end %>
</div>



